/* ===========================
   FONT FILES (WITH WEIGHTS)
=========================== */
@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Thin.ttf");
  font-weight: 50;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Black.ttf");
  font-weight: 900;
}

@font-face {
  font-family: "Gilroy";
  src: url("../gilroy/Gilroy-Heavy.ttf");
  font-weight: 950;
}


@import "tailwindcss";


@theme {
  --font-gilroy: "Gilroy", sans-serif;
}
